includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    excludePaths:
        - src/Services/EncryptionService.php
        - src/Wallets/EthWallet.php
        - src/Wallets/SolWallet.php
